/* form-modal */
.formular_front {
    width: 450px;
    margin: 80px auto;
    padding: 60px 0;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight: 200;
}
.text_input_form1 {
    width: 90%;
    margin: 5px 0;
    padding: 15px 15px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid rgb(84, 4, 231);
    
    -moz-appearance:inherit; 
    -o-appearance:inherit;
    -ms-appearance:inherit;
    appearance:inherit;
    -webkit-appearance:inherit;
}
.button_form1 {
    width: 90%;
    background: linear-gradient(to right, rgb(8, 146, 8), rgb(133, 197, 133));
    color: white;
    font-size: 14px;
    margin: 10px 5px;
    padding: 20px 0;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    cursor: pointer;
}
/* end to form-modal */

/* header */
.header {
    width: 100%;
    height: 22vh;
    display: flex;
    display: flex;
    align-items: center;
}
.profile_pic {
    width: 160px;
    height: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}
.profile_sphere {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.profile_desc {
    flex: 1;
    height: 150px;
    font-weight: 100;
    /* background-color: antiquewhite; */
}
.porfile_pic {
    width: 140px;
}
.name {
    font-size: 3.5em;
    /* background-color: cadetblue; */
}
.rank_title {
    display: flex;
}
.rank {
    font-size: 4.65em;
    display: flex;
    align-items:flex-end;
    /* background-color: coral; */
}
.title {
    font-size: 1.6em;
    padding:0 0 0.4em 0.6em;
    display: flex;
    align-items:flex-end;
    /* background-color: aquamarine; */
}
/* end to header */

/* start to siderbar */
.sidebar {
    width: 25%;
    height: 94vh;
    background-color: orange;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
/* end to sidebar */

/* start to post */
.public_post_in_wall {
    width: 98%;
    min-height: 580px;
    overflow: auto;
    background-color: #FFF;
    margin: 5px 1% 15px;
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
}
.post_profil {
    width: 100%;
    min-height: 80px;
    overflow: auto;
    background-color: cornflowerblue;
    display: flex;
}
.small_profile_sphere {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.small_porfile_pic {
    width: 80px;
}
.post_profile_desc {
    flex: 1;
    height: 80px;
    padding-left: 10px;
    font-weight: 100;
    background-color: antiquewhite;
}
.content {
    width: 100%;
    height: 300px;
    background-color: crimson;
    display: flex;
}
.post_fotos_coments {
    width: 70%;
    height: 500px;
    background-color: forestgreen;
}
.post_fotos {
    width: 100%;
    height: 300px;
    background-color: hotpink;
    /* flex: 1; */
}
.post_coments {
    width: 100%;
    height: 200px;
    background-color: burlywood;
}
.post_rates {
    width: 27%;
    padding: 10px 1.5% 0;
    height: 490px;
    background-color: olive;
}
.post_user_rate {
    width: 100%;
    height: 60px;
    /* background-color: goldenrod; */
    margin: 8px 0 17px;
    display: flex;
}
.x_small_profile_sphere {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.post_rates_info {
    flex: 1;
    height: 60px;
    /* background-color: red; */
    padding-left: 5px;
}
.x_small_porfile_pic {
    width: 45px;
}
/* end to post */

/* end to navigation bar */
.menu {
    width: 100%;
    height: 80;
    padding: 0;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu ul li {
    width: 20%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.menu ul li a {
    color: #000;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #666;
}
/* end to navigation bar */


.star_checked {
    color: pink;
}
.star-mo {
    font-size: 25px;
}