/* form-modal */
.formular_front {
    width: 450px;
    margin: 80px auto;
    padding: 60px 0;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-weight: 200;
}
.text_input_form1 {
    width: 90%;
    margin: 5px 0;
    padding: 15px 15px;
    font-size: 14px;
    border-radius: 15px;
    border: 1px solid rgb(84, 4, 231);
    
    -moz-appearance:inherit; 
    -o-appearance:inherit;
    -ms-appearance:inherit;
    appearance:inherit;
    -webkit-appearance:inherit;
}
.button_form1 {
    width: 90%;
    height: 60px;
    background: linear-gradient(to right, rgb(8, 146, 8), rgb(133, 197, 133));
    color: white;
    font-size: 14px;
    margin: 10px auto;
    padding: 20px 0;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15)!important;
    cursor: pointer;
}
/* end to form-modal */

/* header */
.header {
    width: 100%;
    height: 22vh;
    display: flex;
    display: flex;
    align-items: center;
}
.profile_pic {
    width: 160px;
    height: 150px;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.profile_sphere {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.profile_desc {
    flex: 1;
    height: 150px;
    font-weight: 100;
}
.porfile_pic {
    width: 140px;
}
.name {
    font-size: 3.5em;
}
.rank_title {
    display: flex;
}
.rank {
    font-size: 4.65em;
    display: flex;
    align-items: flex-end;
}
.title {
    font-size: 1.6em;
    padding:0 0 0.4em 0.6em;
    display: flex;
    align-items: flex-end;
}
/* end to header */

/* start to siderbar */
.sidebar {
    width: 25%;
    height: 98.85vh;
    background-color: orange;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
/* end to sidebar */

/* start to post */
.public_post_in_wall {
    width: 98%;
    /* min-height: 660px; */
    margin: 5px 1% 15px;
    box-shadow: 0 0 15px 0 rgba(47, 48, 63, 0.193);
}
.post_profil {
    width: 96%;
    min-height: 80px;
    padding: 10px 2% 5px;
    overflow: auto;
    /* background-color: cornflowerblue; */
    display: flex;
}
.small_profile_sphere {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.small_porfile_pic {
    width: 80px;
}
.post_profile_desc {
    height: 80px;
    padding-left: 20px;
    font-weight: 100;
    /* background-color: antiquewhite; */
    flex: 1;
}
.content {
    width: 100%;
    /* background-color: crimson; */
    overflow: auto;
}
.post_fotos_coments {
    width: 70%;
    /* background-color: forestgreen; */
    float: left;
}
.post_fotos {
    width: 100%;
    /* background-color: hotpink; */
}
.post_options {
    width: 96%;
    /* background-color: dimgrey; */
    padding: 10px 2%;
}
.post_options a {
    color: #999;
    text-decoration: none;
}
.post_comments {
    width: 98%;
    min-height: 200px;
    /* background-color: burlywood; */
    padding: 0 1%;
}
.comment_field {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.post_rates {
    width: 27%;
    padding: 0 1.5%;
    /* height: 605px; */
    /* background-color: olive; */
    float: right;
}
.post_user_rate {
    width: 100%;
    overflow: auto;
    /* background-color: goldenrod; */
    margin: 8px 0;
    display: flex;
}
.x_small_profile_sphere {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: grey;
    border: 1px solid #000;
    overflow: auto;
}
.post_rates_info {
    flex: 1;
    height: 60px;
    /* background-color: red; */
    padding-left: 5px;
}
.x_small_porfile_pic {
    width: 45px;
}
/* end to post */

/* end to navigation bar */
.menu {
    width: 100%;
    height: 80;
    padding: 0;
}
.menu ul {
    margin: 0;
    padding: 0;
}
.menu ul li {
    width: 20%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}
.menu ul li a {
    color: #000;
    text-decoration: none;
}
.menu ul li a:hover {
    color: #666;
}
/* end to navigation bar */

.star_checked {
    color: pink;
}

.star_mo {
    color: #666;
}

/* start to comments component */
.cfield {
    width: 80%;
    margin: 5px 0;
    padding: 5px 5px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgb(148, 143, 158);
    
    -moz-appearance:inherit; 
    -o-appearance:inherit;
    -ms-appearance:inherit;
    appearance:inherit;
    -webkit-appearance:inherit;
}
.cbutton {
    background: rgb(8, 146, 8);
    color: white;
    margin: 5px;
    padding: 6px 15px;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
}
.comment_font {
    font-size: 26px;
    font-weight: 200;
    margin-top: 0;
}
/* end to comments component */

/* start to comments and fotos popup */
.bg_popup {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.486);
    position: fixed;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    display: none;
    z-index: 3;
}
.bg_container {
    width: 1050px;
    height: 600px;
    background-color: red;
    border-radius: 4px;
    margin: 5vh auto;
    box-shadow: 0 4px 10px 0 rgba(47, 48, 63, 0.193);
}
.comment_fotos_popup {
    width: 1050px;
    height: 600px;
    background-color: #FFF;
    border-radius: 4px;
    margin: 5vh auto;
    display: none;
}
.fotos_content {
    width: 60%;
    height: 600px;
    background-color: #666;
    float: left;
}
.comments_content {
    width: 40%;
    height: 600px;
    float: right;
}
.popup_profile {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #CCC;
}
.popup_profile_items {
    width: 96%;
    height: 80px;
    padding: 0 2%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.popup_profile_name {
    padding: 0 15px;
}
.comments_popup {
    padding: 0 15px 15px;
    height: 414px;
    overflow: auto;
}
.popup_opcions
{
    width: 96%;
    padding: 10px 2%;
    border-top: 1px solid #CCC;
}
.popup_comment_area
{
    width: 100%;
    height: 50px;
    border-top: 1px solid #CCC;
    background-color: orange;
}
/* end to comments and fotos popup */

.add_button {
    padding: 3px 17px 8px;
    background-color: rgba(2, 161, 2, 0.402);
    color: #FFF;
    font-size: 36px;
    border-radius: 50%;
    border: 2px solid rgba(0, 166, 0, 0.64);
    position: absolute;
    left: 20px;
    bottom: 30px;
    /* box-shadow: 0 0 4px 3px rgb(47 48 63 / 19%); */
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

a .add_button:hover {
    background-color: rgb(2, 161, 2);
    box-shadow: 0 0 4px 3px rgb(47 48 63 / 19%);
}

.post_form {
    width: 1050px;
    height: 600px;
    background-color: #FFF;
    border-radius: 4px;
    margin: 5vh auto;
    display: none;
}

/* start to foto slide */
* {box-sizing:border-box}

    /* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

    /* Hide the images by default */
.mySlides {
    /* height: 300px; */
    overflow: auto;
    display: none;
}

.slider_foto {
    width: 150%;
    /* height: 300px; */
    margin: 0 -35%;
}

    /* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

    /* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

    /* The dots/bullets/indicators */
.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
}

    /* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.9s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* end to foto slide */

/* start to search */
.search_field {
    width: 80%;
    margin: 5px 0;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgb(148, 143, 158);
    
    -moz-appearance:inherit; 
    -o-appearance:inherit;
    -ms-appearance:inherit;
    appearance:inherit;
    -webkit-appearance:inherit;
}
/* end to search */